/*
animated string
 */

.colab_slider {
    position: relative;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

}

.colab_slider h3 {
    text-transform: uppercase;
    color: #FFC306;
    font-size: 80px;
    font-weight: 400;
    /*display: inline-block;*/
    /*padding-left: 100%;*/
    /*animation: marquee 15s linear infinite;*/

}


/*.marquee {*/
/*    width: 450px;*/
/*    margin: 0 auto;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    box-sizing: border-box;*/
/*    border: 1px dotted #800000;*/
/*}*/

/*.marquee span {*/
/*    display: inline-block;*/
/*    padding-left: 100%;*/
/*    animation: marquee 15s linear infinite;*/
/*}*/

/*.marquee span:hover {*/
/*    animation-play-state: paused*/
/*}*/

/*@keyframes marquee {*/
/*    0%   { transform: translate(0, 0); }*/
/*    100% { transform: translate(-100%, 0); }*/
/*}*/

/*
end animated string
 */

/*
modal window
 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*
end modal window
 */

/*
slider
 */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot,dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*
end slider
 */


/*
Puls
 */

.puls {
    margin: 100px auto;
    display: block;
    justify-content: center;
    height: 100px;
    width: 100%;

}

.puls a {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    background-color: #000;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}







@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

/*
end Puls
 */